
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-rX8 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-2-rX8 .rectangle-1-woU {
  width: 83.8rem;
  height: 95.9rem;
  position: absolute;
  left: 30.1rem;
  top: 3.2rem;
  background-color: #d9d9d9;
  border-radius: 7rem;
}
.desktop-2-rX8 .coins-UHc {
  width: 10.7rem;
  height: 4.9rem;
  position: absolute;
  left: 38rem;
  top: 11.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .your-available-reward-coins-Xmg {
  width: 25.8rem;
  height: 2.5rem;
  position: absolute;
  left: 38.8rem;
  top: 17.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .rectangle-2-R6N {
  width: 13.3rem;
  height: 7.8rem;
  position: absolute;
  left: 90.9rem;
  top: 13.6rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  background-color: #e1cf0d;
  border-radius: 2rem;
}
.desktop-2-rX8 .item-200-waW {
  width: 6.2rem;
  height: 3.7rem;
  position: absolute;
  left: 94.5rem;
  top: 15.7rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .rectangle-3-qft {
  width: 75.8rem;
  height: 9.5rem;
  position: absolute;
  left: 34.1rem;
  top: 26.6rem;
  background-color: #d9d9d9;
}
.desktop-2-rX8 .rewards-z2z {
  width: 12.6rem;
  height: 3.7rem;
  position: absolute;
  left: 38.5rem;
  top: 29.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .history-raz {
  width: 10.6rem;
  height: 3.7rem;
  position: absolute;
  left: 92.3rem;
  top: 29.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .rectangle-4-upA {
  width: 66rem;
  height: 9.5rem;
  position: absolute;
  left: 39rem;
  top: 43rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
}
.desktop-2-rX8 .rectangle-5-1cJ {
  width: 66rem;
  height: 9.5rem;
  position: absolute;
  left: 39rem;
  top: 56.5rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
}
.desktop-2-rX8 .spent-coins-on-dbms-mid-question-7fL {
  width: 32.7rem;
  height: 2.5rem;
  position: absolute;
  left: 53.3rem;
  top: 59.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .rectangle-6-qLS {
  width: 66rem;
  height: 9.5rem;
  position: absolute;
  left: 39rem;
  top: 70rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
}
.desktop-2-rX8 .spent-coins-on-iot-assignment-vsg {
  width: 28.5rem;
  height: 2.5rem;
  position: absolute;
  left: 53.2rem;
  top: 72.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .rectangle-7-Ff4 {
  width: 66rem;
  height: 9.5rem;
  position: absolute;
  left: 39rem;
  top: 83.5rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
}
.desktop-2-rX8 .spent-coins-on-iot-final-question-Z9x {
  width: 30.3rem;
  height: 2.5rem;
  position: absolute;
  left: 53.2rem;
  top: 86rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-rX8 .uil-arrow-sgS {
  width: 3.7524rem;
  height: 2.5024rem;
  position: absolute;
  left: 97.2238rem;
  top: 46.2488rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .uil-arrow-CTp {
  width: 3.7524rem;
  height: 2.5024rem;
  position: absolute;
  left: 97.2238rem;
  top: 59.8488rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .uil-arrow-ud8 {
  width: 3.7524rem;
  height: 2.5024rem;
  position: absolute;
  left: 97.2238rem;
  top: 73.2488rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .uil-arrow-Fwt {
  width: 3.7524rem;
  height: 2.5024rem;
  position: absolute;
  left: 97.2238rem;
  top: 86.5488rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .arcticons-rewards-yst {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 42.4rem;
  top: 45.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .arcticons-rewards-KRx {
  width: 4.0476rem;
  height: 3.3333rem;
  position: absolute;
  left: 42.7571rem;
  top: 59.6333rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .arcticons-rewards-E38 {
  width: 4.0476rem;
  height: 3.3333rem;
  position: absolute;
  left: 42.7571rem;
  top: 73.1333rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .arcticons-rewards-xzi {
  width: 4.0476rem;
  height: 3.3333rem;
  position: absolute;
  left: 42.7571rem;
  top: 86.6333rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-rX8 .spent-coins-on-dbms-assignment-iDC {
  width: 31.4rem;
  height: 2.5rem;
  position: absolute;
  left: 51.7rem;
  top: 46.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}


